.container {
  width: 100%;
  margin: 0 auto;
}

.container.padding {
  padding: 0 1rem;
}

.max-sm {
  max-width: 640px;
}

.max-md {
  max-width: 768px;
}

.max-lg {
  max-width: 1024px;
}

.max-xl {
  max-width: 1280px;
}

.max-full {
  max-width: 100%;
}

@media (min-width: 640px) {
  .container.padding {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container.padding {
    padding: 0 2rem;
  }
}